---
import { WorkerData } from '../components/worker-data.tsx';
import Md5Comparison from '../components/md5-comparison.svelte'
---

<html>
  <head>
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
  </head>
  <body class="px-4">
    <header class="flex justify-center">
      <h1 class="text-5xl m-10 font-black">Rust <span class="font-medium">VS</span> JS</h1>
    </header>
      <Md5Comparison client:load />
  </body>
</html>