---
import { WorkerData } from '../components/worker-data.tsx';
// JS/TS Code written in between the (---) code fence,
// is ran solely on the Server!
console.log('See me in the Terminal')
---


<html>
  <body>
    <h1>JS VS Rust</h1>
    <article>
      <h2>MD5 Hashing</h2>
      <p>Hashing a continously increasing integer, starting at 1</p>
      <p>Hashes made by Rust: <WorkerData client:load workerScript="rust-worker.js" /></p>
      <p>Hashes made by JS: <span id="js-hashes">0</span></p>
    </article>
  </body>
</html>

<style lang='css||scss'>
  body{
    h1{
      color:orange;
    }
  }
</style>

<script>
 // JS Code entered here is ran entirely on the Browser
 console.log('See me in the devTools')
</script>